/*-------------------- FONTS --------------------------------------------------*/
@font-face {
    font-family: 'Pattaya';
    src: url(./fonts/Pattaya-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Monserrat';
    src: url(./fonts/Montserrat-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Regular.ttf) format('truetype');
}

/*-------------------- LOGIN AND REGISTER --------------------------------------------------*/
.LoginRegister{
    display: flex;
    margin-left: 400px;
    margin-top: 100px;
  }
  
.Register form  {
    display: grid;
    margin-right: 100px;
}
  
  
.Register form h1{
    font-family: 'Pattaya';
    margin-left: 30px;
}
    
.Register form input{
    background-color: #EAEAEA;
    width: 300px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 8px;
    border: none;
}
    
.Register form label{
    font-family: 'Poppins';
    margin-top: auto;
    margin-bottom: auto;
}
    
.Register form button{
    font-family: 'Poppins';
    font-size: 14px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #5E8410;
    border-radius: 8px;
    border: none;
    width: 140px;
    height: 25px;
    margin-left: 80px;
    cursor: pointer;
}
    
.Login form  {
    display: grid;
    margin-right: 100px;
}
  
.Login form h1{
    font-family: 'Pattaya';
    margin-left: 60px;
}
    
.Login form input{
    background-color: #EAEAEA;
    width: 300px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 8px;
    border: none;
}
    
.Login form label{
    font-family: 'Poppins';
    margin-top: auto;
    margin-bottom: auto;
}
    
.Login form button{
    font-family: 'Poppins';
    font-size: 14px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #5E8410;
    border-radius: 8px;
    border: none;
    width: 140px;
    height: 25px;
    margin-left: 80px;
    cursor: pointer;
}
  
.Login a {
    font-family: 'Poppins';
    font-size: 12px;
    color: black;
}
  
.Login li{
    list-style-type: none;
    margin-left: 70px;
    margin-top: 10px;
}


/*-------------------- DELETE ACCOUNT --------------------------------------------------*/
.deleteAccount .infoDelete{
    margin-left: 500px;
    margin-top: 150px;
}

.deleteAccount h1{
    font-family: 'Pattaya';
}

.deleteAccount button{
    background-color: #43A9BF;
    border-radius: 8px;
    border: none;
    width: 180px;
    height: 30px;
    font-size: 18px;
    color: white;
    margin-left: 200px;
    cursor: pointer;
}


/*-------------------- MODIFY ACCOUNT --------------------------------------------------*/

.back{
    margin-top: 40px;
    margin-left: 100px;
}

.modifyAccount form h1{
    font-family: 'Pattaya';
    margin-left: 620px;
}

.modifyAccount form label{
    font-family: 'Poppins';
    margin-left: 600px;
    margin-top: 40px;
}

.modifyAccount form input{
    background-color: #EAEAEA;
    width: 300px;
    height: 25px;
    border-radius: 8px;
    border: none;
    margin-left: 600px;
    margin-top: 20px;
}

.modifyAccount form button{
    font-family: 'Poppins';
    font-size: 14px;
    color: white;
    background-color: #5E8410;
    border-radius: 8px;
    border: none;
    width: 140px;
    height: 25px;
    cursor: pointer;
    margin-left: 680px;
}


/*-------------------- ACCOUNT USER --------------------------------------------------*/

.AccountUser{
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
}

.AccountUser img{
    margin-top: 30px;
    margin-left: 140px;
}

.AccountUser h2{
    font-family: 'Pattaya';
    margin-left: 240px;
    margin-top: 20px;
}

.AccountUser .menuUser h2{
    margin-left: 320px;
}

.AccountUser label{
    font-family: 'Poppins';
    margin-left: 240px;
}

.AccountUser .infoAccount button{
    font-family: 'Monserrat';
    margin-left: 240px;
    font-size: 14px;
    color: white;
    border-radius: 8px;
    border: none;
    background-color: #5E8410;
    width: 140px;
    height: 25px;
    cursor: pointer;
}


.AccountUser button[name="Purchases"]{
    font-family: 'Monserrat';
    margin-left: 300px;
    font-size: 14px;
    color: white;
    border-radius: 8px;
    border: none;
    background-color: #43A9BF;
    width: 200px;
    height: 30px;
    cursor: pointer;
}


.AccountUser button[name="LogOut"]{
    font-family: 'Monserrat';
    margin-left: 300px;
    font-size: 14px;
    color: black;
    border-radius: 8px;
    border: none;
    background-color: #EAEAEA;
    width: 200px;
    height: 30px;
    cursor: pointer;
}

/*-------------------- ACCOUNT ADMIN --------------------------------------------------*/
.AccountAdmin{
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
}

.AccountAdmin img{
    margin-top: 30px;
    margin-left: 140px;
}

/*-------------------- ACCOUNT ADMIN -> INFO ACCOUNT --------------------------------------------------*/
.AccountAdmin .infoAccount h2{
    font-family: 'Pattaya';
    margin-left: 240px;
    margin-top: 20px;
}

.AccountAdmin .infoAccount label{
    font-family: 'Poppins';
    margin-left: 240px;
}

.AccountAdmin .infoAccount button{
    font-family: 'Monserrat';
    font-size: 14px;
    color: white;
    border-radius: 8px;
    border: none;
    background-color: #5E8410;
    width: 140px;
    height: 30px;
    margin-top: 10px;
    margin-left: 240px;
    cursor: pointer;
}

/*-------------------- ACCOUNT ADMIN -> MENU ADMIN --------------------------------------------------*/
.AccountAdmin .menuAdmin h2{
    font-family: 'Pattaya';
    margin-left: 360px;
    margin-top: 20px;
}

.AccountAdmin .menuAdmin button{
    font-family: 'Monserrat';
    font-size: 14px;
    color: white;
    border-radius: 8px;
    border: none;
    background-color: #43A9BF;
    width: 300px;
    height: 30px;
    margin-top: 10px;
    margin-left: 300px;
    cursor: pointer;
}

.AccountAdmin .menuAdmin button[name="LogOut"]{
    font-family: 'Monserrat';
    font-size: 14px;
    color: black;
    border-radius: 8px;
    border: none;
    background-color: #EAEAEA;
    width: 300px;
    height: 30px;
    margin-bottom: 60px;
}

/*-------------------- MANAGE ADMIN --------------------------------------------------*/

.manageAdmin h1{
    font-family: 'Pattaya';
    margin-left: 240px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.manageAdmin input{
    background-color: #EAEAEA;
    border-radius: 8px;
    border: none;
    width: 800px;
    height: 25px;
    margin-left: 240px;
}

.manageAdmin button[name='backButton']{
    font-family: 'Monserrat';
    font-size: 14px;
    color: black;
    border-radius: 8px;
    border: none;
    background-color: #EAEAEA;
    width: 300px;
    height: 30px;
}

.manageAdmin button{
    font-family: 'Monserrat';
    font-size: 14px;
    color: white;
    border-radius: 8px;
    border: none;
    background-color: #5E8410;
    width: 300px;
    height: 30px;
    margin-top: 10px;
    margin-left: 240px;
    cursor: pointer;
}

.manageAdmin button[name='searchButton']{
    margin-left: 20px;
    width: 200px;
}

.scroller {
    width: 600px; 
    height: 200px;
    overflow-y: scroll;
    background-color: #EAEAEA;
    margin-left: 240px;
    border-radius: 8px;
    border: none;    
}

.scroller li{
    list-style-type: none;
}