@font-face {
    font-family: 'Pattaya';
    src: url(./fonts/Pattaya-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Monserrat';
    src: url(./fonts/Montserrat-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Regular.ttf) format('truetype');
}
  
.AccountUser img{
    margin-top: 30px;
    margin-left: 140px;
}

.AccountUser h2{
    font-family: 'Pattaya';
    margin-left: 240px;
}

.AccountUser label{
    font-family: 'Poppins';
    margin-left: 240px;
}

.AccountUser button[name="Update"]{
    font-family: 'Monserrat';
    margin-left: 240px;
    font-size: 14px;
    color: white;
    border-radius: 8px;
    border: none;
    background-color: #5E8410;
    width: 140px;
    height: 25px;
}

.AccountUser button[name="Delete"]{
    font-family: 'Monserrat';
    margin-left: 240px;
    font-size: 14px;
    color: white;
    border-radius: 8px;
    border: none;
    background-color: #5E8410;
    width: 140px;
    height: 25px;
}

.AccountUser button[name="Purchases"]{
    font-family: 'Monserrat';
    margin-left: 600px;
    font-size: 14px;
    color: white;
    border-radius: 8px;
    border: none;
    background-color: #43A9BF;
    width: 200px;
    height: 30px;
}


.AccountUser button[name="LogOut"]{
    font-family: 'Monserrat';
    margin-left: 600px;
    font-size: 14px;
    color: black;
    border-radius: 8px;
    border: none;
    background-color: #EAEAEA;
    width: 200px;
    height: 30px;
}


.DeleteAccount{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    display: flex;
    justify-content: center;
    align-items: center;
}

.DeleteAccount h1{
    font-family: 'Pattaya';
    color: white;
}

.DeleteAccount button{
    background-color: #43A9BF;
    border-radius: 8px;
    border: none;
    width: 180px;
    height: 30px;
    font-size: 18px;
    color: white;
    margin-left: 20px;
}



.ModifyAccount form  {
    display: grid;
    margin-right: 100px;
}


.ModifyAccount{
    display: flex;
    margin-left: 600px;
    margin-top: 100px;
  }

.ModifyAccount form h1{
    font-family: 'Pattaya';
    margin-left: 30px;
}

.ModifyAccount form input{
    background-color: #EAEAEA;
    width: 300px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 8px;
    border: none;
}
  
.ModifyAccount form label{
    font-family: 'Poppins';
    margin-top: auto;
    margin-bottom: auto;
}
  
.ModifyAccount form button{
    font-family: 'Poppins';
    font-size: 14px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #5E8410;
    border-radius: 8px;
    border: none;
    width: 140px;
    height: 25px;
    margin-left: 80px;
}
  