@font-face {
  font-family: 'Pattaya';
  src: url(./fonts/Pattaya-Regular.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  src: url(./fonts/Poppins-Regular.ttf) format('truetype');
}
  
.parentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layoutCalendar {
  width: 1480px;
  height: 370px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1.3fr;
  gap: 8px;
}

.Calendar {
	text-align: center;
}
  
.Calendar h1{
    font-family: 'Pattaya';
    font-size: 40px;
    text-align: center;
    margin-left: 10px;
    flex: 1;
  }

.Calendar h2{
    text-align: start;
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: bold;
    background-color: antiquewhite;
    padding: 10px 0px 10px 0px;
}

.CalendarButton  button{
    font-family: 'Poppins';
    font-size: 14px;
    color: white;
    background-color: #5E8410;
    border-radius: 8px;
    border: none;
    width: 140px;
    height: 25px;
}

.inputEvent{
  border: none;
  border-bottom: 2px solid rgb(198, 191, 191);
  width: 250px;
  transition: border-color 0.3s ease;
  margin-bottom: 25px;
  margin-right: 25px;
  outline: none;
  text-align: start;
}

.inputEvent:hover {
  border-color: #5E8410; /* Cambia esto al color que desees cuando se pasa el cursor sobre el input */
}
