/*-------------------- FONTS --------------------------------------------------*/
@font-face {
    font-family: 'Pattaya';
    src: url(./fonts/Pattaya-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Monserrat';
    src: url(./fonts/Montserrat-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Regular.ttf) format('truetype');
}

/*--------------------------------------- GENERAL ------------------------------------------------------*/
button[name='categoryOption']{
    font-family: 'Monserrat';
    margin-left: 240px;
    margin-top: 40px;
    background-color: #43A9BF;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: white;
    width: 200px;
    height: 30px;
}

.backCategories{
    margin-top: 40px;
    margin-left: 100px;
}

h1[name='categoryTitle']{
    font-family: 'Pattaya';
    margin-left: 240px;
}

input[name='nameCategory']{
    margin-left: 240px;
    background-color: #EAEAEA;
    border-radius: 8px;
    border: none;
    width: 300px;
    height: 25px;
    margin-top: 20px;
}

label{
    font-family: 'Poppins';
    margin-top: 20px;
    margin-left: 240px;
}

input[name='subcategoryCheckBox']{
    margin-left: 60px;
}

input[name='generateInputs']{
    margin-left: 240px;
    margin-top: 10px;
    background-color: #EAEAEA;
    border-radius: 8px;
    border: none;
    width: 300px;
    height: 25px;
}

input[name='numberInput']{
    background-color: #EAEAEA;
    border-radius: 8px;
    width: 40px;
    height: 30px;
    border: none;
}

.dropdown .selectBox{
    background-color: #EAEAEA;
    color: black !important;
    border: none;
    margin-left: 240px;
    border-radius: 8px;
    margin-top: 10px;
}

/*-------------------- MANAGE CATEGORIES --------------------------------------------------*/
.manageCategories h1{
    font-family: 'Pattaya';
    margin-left: 590px;
    margin-top: 80px;
}

.manageCategories button{
    font-family: 'Monserrat';
    font-size: 14px;
    color: white;
    border-radius: 8px;
    border: none;
    background-color: #5E8410;
    width: 300px;
    height: 30px;
    margin-top: 20px;
    margin-left: 600px;
}

.manageCategories button[name="backButton"]{
    background-color: #EAEAEA;
    color: black;
}

