.Registro{
    display: flex;
    margin-left: 400px;
    align-items: center;
    height: 80vh;
  }
  
  .Registro form  {
    display: grid;
    margin-right: 100px;
  }

  @font-face {
    font-family: 'Pattaya';
    src: url(./fonts/Pattaya-Regular.ttf) format('truetype');
  }


  @font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Regular.ttf) format('truetype');
  }
  

  .Registro form h1{
    font-family: 'Pattaya';
  }
  
  .Registro form input{
    background-color: #EAEAEA;
    width: auto;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 8px;
    border: none;
  }
  
  .Registro form label{
    font-family: 'Poppins';
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .Registro form button{
    font-family: 'Poppins';
    font-size: 14px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #5E8410;
    border-radius: 8px;
    border: none;
    width: 120px;
    margin-left: 40px;
  }

