@font-face {
  font-family: 'Pattaya';
  src: url(./fonts/Pattaya-Regular.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  src: url(./fonts/Poppins-Regular.ttf) format('truetype');
}

.LoginRegister{
  display: flex;
  margin-left: 400px;
  margin-top: 100px;
}

.Register form  {
    display: grid;
    margin-right: 100px;
  }


    .Register form h1{
    font-family: 'Pattaya';
    margin-left: 30px;
  }
  
  .Register form input{
    background-color: #EAEAEA;
    width: 300px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 8px;
    border: none;
  }
  
  .Register form label{
    font-family: 'Poppins';
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .Register form button{
    font-family: 'Poppins';
    font-size: 14px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #5E8410;
    border-radius: 8px;
    border: none;
    width: 140px;
    height: 25px;
    margin-left: 80px;
  }
  
  .Login form  {
    display: grid;
    margin-right: 100px;
  }

  .Login form h1{
    font-family: 'Pattaya';
    margin-left: 60px;
  }
  
  .Login form input{
    background-color: #EAEAEA;
    width: 300px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 8px;
    border: none;
  }
  
  .Login form label{
    font-family: 'Poppins';
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .Login form button{
    font-family: 'Poppins';
    font-size: 14px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #5E8410;
    border-radius: 8px;
    border: none;
    width: 140px;
    height: 25px;
    margin-left: 80px;
  }

  .Login a {
    font-family: 'Poppins';
    font-size: 12px;
    color: black;
  }

  .Login li{
    list-style-type: none;
    margin-left: 70px;
    margin-top: 10px;
  }

