@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Regular.ttf) format('truetype');
}

/* PRODUCT MANAGEMENT ---------------------------------------------*/
.pageProductManagement{
    position: relative;
    margin: 20px 88px;
    padding: 0px 100px 0px 100px;
}

.pageProductManagement h1{
    font-family: 'Pattaya';
    font-size: 40px;
    text-align: center;
}

.containerProductManagement{
    padding: 20px 20px 20px 0px;
    margin: 0 20px 0 20px;
}

.content{
    margin: 0 40px;
    align-items: center;
    justify-content: center;
}

.cardProductManagement{
    background-color: rgb(242, 242, 242);
    width: 350px;
    height: 450px;
    position: inherit;
    transition: all 0.4s ease;
    position: relative;
    transform: translate(-50%, -50%);
    display: flex;
    margin: 0px 10px 0px 10px;
    top: 50%;
    left: 50%;
    justify-content: space-between;
}

.cardProductManagement:hover{
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
}

.imageContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 14px 0px;
}

.cardImage{
    position: relative;
    height: 200px;
    width: 200px;
    /*padding: 3px;*/
}

.cardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardImage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.names{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;
    color: black;
    justify-content: center;
    margin: 20px 30px 10px; /*30 es el largo del text*/
    height: 50px;
}

.description{
    font-family: 'Poppins';
    font-size: 14px;
    color: black;
    text-align: justify;
    margin: 0px 35px 20px;
}

.buttonModify{
    font-family: 'Poppins';
    font-size: 14px;
    cursor: pointer;    
    color: white;
    background-color: #5E8410;
    border-radius: 8px;
    border: none;
    width: 150px;
    height: 33px;
    position: absolute;
    position: fixed;
    bottom: 25px;
}

.buttonDelete{
    border: none;
    position:absolute;
    cursor: pointer;
    top: 5px; 
    right: 5px; 
}

.buttonDelete img{
    height: 23px;
    width: 23px;
}

.buttonCreate{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
    color: black;
    background-color: rgb(242, 242, 242);
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    width: 230px;
    height: 33px;
    position: absolute;
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s ease;
}

.buttonModify:hover{
    background-color: #6d961a;
}

.buttonCreate:hover{
    background-color: rgb(234, 234, 234);
}

.buttonDelete:hover{
    background-color: rgb(234, 234, 234, 0.963);}

/* PRODUCT SCREEN -------------------------------------------------*/
.pageProductScreen{
    position: relative;
    margin: 20px 88px;
}

.pageProductScreen h1{
    font-family: 'Pattaya';
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
}

.pageProductScreen h2{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    padding-top: 60px;
}

.pageProductScreen .layout{
    width: 1366px;
    height: 500px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.layout img{
    width: 450px;
    height: 350px;
    display: block;
    margin: auto;
}

.layout p{
    font-family: 'Poppins';
    font-size: 16px;
}

.layout .infoContainer{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

/* DELETE PRODUCT --------------------------------------------------*/

.buttonDeleteProduct{
    font-family: 'Poppins';
    font-size: 16px;
    cursor: pointer;    
    color: white;
    background-color: #23aec1;
    border-radius: 8px;
    border: none;
    width: 300px;
    height: 38px;
}

/* ALL ------------------------------------------------------------*/
.buttonBack{
    border: none;
    position: absolute;
    cursor: pointer;
    top: 100px; 
    left: 90px; 
}

.buttonBack img{
    width: 45px;
    height: 45px;
}

