@font-face {
    font-family: 'Pattaya';
    src: url(./fonts/Pattaya-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Regular.ttf) format('truetype');
}

.pagePurchase{
    position: relative;
    margin: 20px 100px;
    padding: 30px 80px 0px 80px;
}

h1{
    font-family: 'Pattaya';
    font-size: 40px;
    text-align: center;
}

.containerPurchase{
    padding: 50px 100px 100px 100px;
    position: inherit;
}

.cardPurchase{
    position: relative;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    background-color: rgb(242, 242, 242);
    width: 270px;
    height: 350px;
    transition: all 0.4s ease;
}

.cardPurchase:hover{
    box-shadow: 0 5px 50px rgb(0 0 0 / 0.2);
}

.contentPurchase{
    margin: 0 40px;
    align-items: center;
    justify-content: center;
}

.cardContentPurchase{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numPurchase{
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: bold;
    color: black;
    justify-content: center;
    margin: 30px 30px 10px; /*30 es el largo del text*/
    height: 50px;
}

.descriptionPurchase{
    font-family: 'Poppins';
    font-size: 15px;
    color: rgba(0, 0, 0, 0.52);
    text-align: justify;
    margin: 15px 0px 20px;
}

.buttonConsult{
    font-family: 'Poppins';
    font-size: 14px;
    cursor: pointer;    
    color: white;
    background-color: #5E8410;
    border-radius: 8px;
    border: none;
    width: 150px;
    height: 33px;
    position: fixed;
    bottom: 50px;
    transition: all 0.4s ease;
}

.buttonConsult:hover{
    background-color: #6d961a;
}

.centered {
    position: fixed;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    top: 48%;
    left: 50%;
    opacity: 1;
    transition: opacity 0.6s ease-in;
}
    
.title{
    font-family: 'Pattaya';
    font-size: 40px;
    margin: 100px;
}

.buttonHome{
    font-family: 'Poppins';
    font-size: 16px;
    cursor: pointer;    
    color: white;
    background-color: #23aec1;
    border-radius: 8px;
    border: none;
    width: 300px;
    height: 38px;
}

.backButton {
    margin-top: 20px;
    margin-left: 10px;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-width: 0px;
}